{% extends "base.html" %} {% block title %}Chain deine Domain{% endblock %} {% block content
    %}

    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/card1.css') }}"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        </style>
 






    {% for off in all_off %}
        <div class="card">
            <h4 style = "margin-left: 15px;">{{off[0]}}</h4>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Eingestellt am:</th>
                    <th>{{off[3]}}</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Verkaufte Menge: </td>
                    <td>{{off[1]}}</td>
                    
                  </tr>
                  <tr>
                    <td>Verkaufspreis: </td>
                    <td>{{off[2]}} €</td>
                    
                  </tr>
                  
                        
                    
                    
                </tbody>
              </table>
           
        </div>
    {% endfor %}

{% endblock %}